<!-- Card container that binds all togather -->
<mat-card>
  <!-- Title of an Card -->
  <mat-card-title>
    {{'register' | translate}}
  </mat-card-title>

  <!-- Actual content starts from here -->
  <mat-card-content>
    <form [formGroup]="regiForm" (ngSubmit)="onFormSubmit(regiForm.value)">
      <table>
        <tr>
          <td>
            <mat-form-field class="demo-full-width">
              <input formControlName="FirstName" matInput [placeholder]="'firstName' | translate">
              <mat-error>
                <span *ngIf="!regiForm.get('FirstName').valid && regiForm.get('FirstName').touched">Please enter First
                  Name !!!</span>
              </mat-error>
            </mat-form-field>

          </td>
          <td>
            <mat-form-field class="demo-full-width">
              <input formControlName="LastName" matInput [placeholder]="'lastName' | translate">

              <mat-error>
                <span *ngIf="!regiForm.get('LastName').valid && regiForm.get('LastName').touched">Please enter Last
                  Name
                  !!!</span>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <input formControlName="DOB" matInput [matDatepicker]="picker" placeholder="Date of birth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker></mat-datepicker>

              <mat-error>
                <span *ngIf="!regiForm.get('DOB').valid && regiForm.get('DOB').touched">Please select any Date !!!</span>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-radio-group formControlName="Gender">

              <span>Gender</span><br><br>
              <mat-radio-button value="Male">Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
              <br><br>
              <mat-error>
                <span *ngIf="!regiForm.get('Gender').valid && regiForm.get('Gender').touched">Please select any gender
                  !!!</span>
              </mat-error>
            </mat-radio-group>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field class="demo-full-width">
              <input formControlName="Email" matInput placeholder="Email">
              <mat-hint>use like : demo@demo.com</mat-hint>
              <mat-error>
                <span *ngIf="!regiForm.get('Email').valid && regiForm.get('Email').touched">Enter proper Email !!!</span>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput formControlName="Password" [placeholder]="'password' | translate" [type]="hidePassword ? 'password' : 'text'">
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                {{hidePassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
              <mat-error>
                <span *ngIf="!regiForm.get('Password').valid && regiForm.get('Password').touched">
                  {{'invalidPassword' | translate }}
                </span>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-form-field>
              <input matInput formControlName="ConfirmPassword" [placeholder]="'confirmPassword' | translate"
                [errorStateMatcher]="matcher" [type]="hidePassword ? 'password' : 'text'">
              <mat-error>
                <span *ngIf="regiForm.hasError('notSame')">
                  {{'passwordNotSame' | translate }}
                </span>
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <mat-slide-toggle formControlName="IsAccepted" (change)="onChange($event)">Accept Terms & Conditions</mat-slide-toggle><br><br>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="content-center">
            <button mat-raised-button color="accent" [disabled]="!regiForm.valid || IsAccepted==0">Submit</button>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p class="text-xs-center">
              <br>
              <a [routerLink]="['/login']">Have an account?</a>
            </p>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
